@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

.ficha {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-align: center
    
}

img {
    width: 100px;
    margin: 20px;
    transition: width 0.5s ease-in;
    border-radius: 20%;
    border: 5px solid rgb(255, 217, 217);


}

.imagens {
    display: flex;
}

img:hover {
    width: 400px;
    height: auto;
    filter: brightness(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.intro {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    text-align: justify;
    margin: 20px;
    margin-top: -10px;
    font-family: Hepta Slab;
    font-size: 13px;
    color: rgb(207, 14, 30);;
}

.capa {
    margin: 30px;
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
    display: flex;
    transition: width 0.1s ease-in;
    border-radius: 40px ;
}

.capa:hover {
    width: 202px;
    height: auto;
}

.corpo {
    max-width: 1000px;
    background-color: rgb(255, 155, 155);
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }

body {
    padding-left: 200px;
    padding-right: 200px;
    background-image:url(img/Estampa.png) ;
    background-repeat: repeat;
    background-size: 15rem ;
    background-color: rgb(255, 228, 248);
    margin: 0;
    padding-bottom: -20px;
    margin-bottom: -20px;

}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
    background-color: rgb(255, 46, 63);
    align-items: center;
    justify-content:center;
    font-family: Alan Sans;
    padding: 10px 30px;
    margin: -30px;
    margin-bottom: 30px;
    color: rgb(255, 228, 248);
    box-shadow: 0 8px 20px -8px rgba(0,0,0,0.4);
    font-size: small;
}

header h2{
     font-family: Alan Sans;
     color: rgb(255, 228, 248);
     margin-top: none;
}
h2{
     font-family: Alan Sans;
     color: rgb(255, 46, 63);
}

.imagens .ficha p{
    font-size: 30px;
}
.logo{
    width: 350px;
    border: none;
    margin: 10px;
}
.logo:hover{
    width: 350px;
    height: auto;
    filter: none;
    box-shadow: none;
}
.ficha p{
    font-size: 30px;
    font-family: Alan Sans;
    color: rgb(255, 46, 63);
}
footer{
    background-color: rgb(255, 46, 63);
     padding: 20px 0;
     text-align: center;
     height: 60px;
    max-width:1000px;
    }

footer p{
    font-family: Hepta Slab ;
    color: rgb(255, 228, 248);
}





